# Node modules
node_modules/
frontend/node_modules/
backend/__pycache__/

# Python environment files
*.pyc
*.pyo
*.pyd
*.env
venv/
backend/credentials.json

# Docker
*.log
*.pid
*.seed
*.pid.lock
Dockerfile
docker-compose.override.yml

# VS Code settings
.vscode/
.idea/
*.swp

# Build artifacts
frontend/build/
frontend/.next/
dist/
out/

# macOS files
.DS_Store
._*
.Spotlight-V100
.Trashes
